.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: darkmagenta;
  color: white;
}

.joke-button {
  background-color: black;
  color: darkmagenta;
  padding: 1rem;
  font-size: 1.5rem;
  border: 1px solid white;
  box-shadow: 2px 4px 8px black;
  text-transform: uppercase;
  margin-top: 2rem;
}

.joke-title {
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: underline;
}

.joke {
  font-size: 3.6rem;
}
